name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: "Fill Dependency Cache"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
        with:
          # Future installations will run "prepare"
          # and this job doesn't need to
          args: "--ignore-scripts"

  lint:
    name: "Lints"
    needs: ["setup"]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: pnpm build
      - name: "Verify that no manually needed fixes / violations are present"
        run: pnpm lint

  test:
    name: "Tests"
    needs: ["setup"]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: pnpm test:ember
        working-directory: tests/test-app

  test_min:
    name: "Tests (min-supported, 3.28)"
    needs: ["setup"]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: pnpm test:ember
        working-directory: tests/min-supported

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    needs: ["setup", "test"]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - { name: "ember-lts-4.8", directory: "tests/test-app" }
          - { name: "ember-lts-4.12", directory: "tests/test-app" }
          - { name: "ember-lts-5.4", directory: "tests/test-app" }
          - { name: "ember-lts-5.8", directory: "tests/test-app" }
          - { name: "ember-concurrency-4.0", directory: "tests/test-app" }
          - { name: "ember-release", directory: "tests/vite-app" }
          - { name: "ember-beta", directory: "tests/vite-app" }
          - { name: "ember-canary", directory: "tests/vite-app" }

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: pnpm build
      # force re-linking
      - run: pnpm i -f
      - run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario.name }} --skip-cleanup
        working-directory: ${{ matrix.try-scenario.directory }}
