# https://github.com/changesets/action
name: Release

on:
  push:
    branches:
      - main

concurrency: release-${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
    steps:
      - uses: wyvox/action@v1
      - run: pnpm build
      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: pnpm release
          title: "Release Preview"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
